@import "partials/rarityHelper";

select[multiple=multiple] {
  height: 150px;
}

.search {
  background-color: #eee;
  border-radius: 6px;
  border: 1px solid darken(#eee, 15%);
  margin: 10px 0;
  padding: 10px;
  div.submit {
    float: left;
    margin-right: 10px;
  }
}