@import "partials/_levelBar";
@import "partials/_unitcard";

header {
  background-color: #007ba4;
  h1, p {
    font-family: 'Signika', serif;
    color: #000;
    text-align: center;
    text-shadow: 0 0 4px lighten(#007ba4, 60%);
  }
  h1 {
    font-size: 40px;
    margin-bottom: 0;
  }
  p {
    font-size: 30px;
    margin-bottom: 15px;
  }
}
nav {
  margin: 20px 0 0 0;
}
footer {
  margin-top: 15px;
  padding: 10px 0;
  background-color: #333;
  color: #ccc;
  p {
    text-align: center;
  }
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  img.baked-with-cake {
    height: 60px;
  }
}

span.label.role {
  color: #4a4a4a;
  &.tank {
    background-color: #bcbcbc;
  }
  &.healing {
    background-color: #f7b8b6;
  }
  &.support {
    background-color: #cbfbab;
  }
  &.magic-damage {
    background-color: #e7b6f2;
  }
  &.physical-damage {
    background-color: #efc1a6;
  }
  &.hybrid-damage {
    background-color: #abb8ed;
  }
}
#unittable {
  thead {
    background-color: #fff;
  }
  td.actions a {
    margin-right: 4px;
  }
}

div.search.well, div.add-units.well {
  p a {
    float: right;
  }
}

#unitsearchform {
  div.submit {
    float: left;
    margin: 0 15px 0;
  }
}

div.alert{
  margin: 10px;
}

form {
  div.submit {
    float: left;
    margin-right: 10px;
  }
}
div.login form {
  div.submit {
    float: none;
  }
}

#ajax-loading {
  position: absolute;
  top: 40%;
  left: 48%;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid darken(#ccc, 20%);
  background-color: #fff;
  box-shadow: 1px 1px 3px #333;
  text-align: center;
  font-weight: bold;
}

.asc:after {
  content: " \2193";
}
.desc:after {
  content: " \2191";
}

#party-table {
  width: 100%;
  border: 1px solid #ccc;
  tr th {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }
}

ul.unit-nav {
  margin-bottom: 5px;
}