$headerTextColor: #000;
$blockBgColor: lighten(#333, 10%);
$contrastText: #fff;

@import "partials/_levelBar";
@import "partials/_units";
@import "partials/_specialisations";
@import "partials/_alerts";
@import "partials/rarityHelper";
@import "partials/navigation";

/** Block level site elements **/
header {
  height: 200px;
  background: url(../img/header-bg.jpg) center center no-repeat;
  background-size: 100% auto;

  & > div {
    padding: 45px 0 0 0;
    h1, p {
      font-family: 'Signika', serif;
      color: $contrastText;
      text-align: center;
      text-shadow: 0 0 3px rgba(0,0,0,0.4);
    }
    h1 {
      width: 560px;
      padding: 0 0 17px 0;
      margin: 0 auto 0;
      font-size: 40px;
      border-bottom: 1px solid $contrastText;
    }
    p {
      font-size: 30px;
      margin: 15px 0 0 0;
    }
  }

  p.header-credit {
    position: absolute;
    top: 180px;
    right: 10px;
    color: $contrastText;
    font-size: 11px;
  }
}

footer {
  margin-top: 15px;
  padding: 10px 0;
  background-color: $blockBgColor;
  color: lighten($blockBgColor, 50%);
  p {
    text-align: center;
  }
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  img.baked-with-cake {
    height: 60px;
  }
}

/** Search units and add new unit forms **/
div.search.well, div.add-units.well {
  p a {
    float: right;
    width: 150px;
  }
}

#unitsearchform {
  div.submit {
    float: left;
    margin: 0 15px 0;
  }
}

form {
  div.submit {
    float: left;
    margin-right: 10px;
  }
}
div.login form {
  div.submit {
    float: none;
  }
}

/** Ajax loading div **/
#ajax-loading {
  position: absolute;
  top: 40%;
  left: 48%;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid darken(#ccc, 20%);
  background-color: #fff;
  box-shadow: 1px 1px 3px #333;
  text-align: center;
  font-weight: bold;
}
