div.level-bar {
  width: 150px;
  height: 20px;
  border: 1px solid #333; }
  div.level-bar span.bar {
    display: block;
    padding: 0 3px;
    background-color: #ccc;
    height: 18px; }
    div.level-bar span.bar.low {
      background-color: #e26460; }
    div.level-bar span.bar.medium {
      background-color: #efbf61; }
    div.level-bar span.bar.high {
      background-color: #f7e669; }
    div.level-bar span.bar.vhigh {
      background-color: #b7dd74; }
    div.level-bar span.bar.max {
      background-color: #92e2ea; }
  div.level-bar span.bar-label {
    position: relative;
    top: -20px;
    left: 5px;
    font-size: 12px;
    font-weight: bold; }

div.unit-card {
  text-align: center;
  background-color: #eee;
  border-radius: 5px;
  padding: 5px;
  margin: 5px; }
  div.unit-card table {
    width: 90%;
    margin: 0 auto;
    border-radius: 4px; }
    div.unit-card table, div.unit-card table th, div.unit-card table td {
      border: 1px solid #ccc;
      padding: 2px;
      text-align: center; }
    div.unit-card table th {
      font-weight: bold;
      font-size: 12px !important; }

header {
  background-color: #007ba4; }
  header h1, header p {
    font-family: 'Signika', serif;
    color: #000;
    text-align: center;
    text-shadow: 0 0 4px #d7f5ff; }
  header h1 {
    font-size: 40px;
    margin-bottom: 0; }
  header p {
    font-size: 30px;
    margin-bottom: 15px; }

nav {
  margin: 20px 0 0 0; }

footer {
  margin-top: 15px;
  padding: 10px 0;
  background-color: #333;
  color: #ccc; }
  footer p {
    text-align: center; }
  footer a {
    color: #fff; }
    footer a:hover {
      color: #fff; }
  footer img.baked-with-cake {
    height: 60px; }

span.label.role {
  color: #4a4a4a; }
  span.label.role.tank {
    background-color: #bcbcbc; }
  span.label.role.healing {
    background-color: #f7b8b6; }
  span.label.role.support {
    background-color: #cbfbab; }
  span.label.role.magic-damage {
    background-color: #e7b6f2; }
  span.label.role.physical-damage {
    background-color: #efc1a6; }
  span.label.role.hybrid-damage {
    background-color: #abb8ed; }

#unittable thead {
  background-color: #fff; }
#unittable td.actions a {
  margin-right: 4px; }

div.search.well p a, div.add-units.well p a {
  float: right; }

#unitsearchform div.submit {
  float: left;
  margin: 0 15px 0; }

div.alert {
  margin: 10px; }

form div.submit {
  float: left;
  margin-right: 10px; }

div.login form div.submit {
  float: none; }

#ajax-loading {
  position: absolute;
  top: 40%;
  left: 48%;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #999999;
  background-color: #fff;
  box-shadow: 1px 1px 3px #333;
  text-align: center;
  font-weight: bold; }

.asc:after {
  content: " \2193"; }

.desc:after {
  content: " \2191"; }

#party-table {
  width: 100%;
  border: 1px solid #ccc; }
  #party-table tr th {
    text-align: center;
    font-weight: bold;
    font-size: 24px; }

ul.unit-nav {
  margin-bottom: 5px; }

/*# sourceMappingURL=common.css.map */
