div.level-bar {
  width: 150px;
  height: 20px;
  border: 1px solid #333;
  span.bar {
    display: block;
    padding: 0 3px;
    background-color: #ccc;
    height: 20px - 2px;
    &.low {
      background-color: #e26460;
    }
    &.medium {
      background-color: #efbf61;
    }
    &.high {
      background-color: #f7e669;
    }
    &.vhigh {
      background-color: #b7dd74;
    }
    &.max {
      background-color: #92e2ea;
    }
  }
  span.bar-label {
    position: relative;
    top: -20px;
    left: 5px;
    font-size: 12px;
    font-weight: bold;
  }
}