/** Table displaying all units, acquired and available **/
#unittable {
  thead {
    background-color: #fff;
  }
  td.sprite {
    text-align: center;
    img {
      height: 50px;
    }
  }
  td.actions {
    white-space: nowrap;
    a {
      margin-right: 4px;
    }
  }
}

.asc:after {
  content: " \2193";
}
.desc:after {
  content: " \2191";
}

/** Single unit displayed as part of a party **/
#party-table {
  width: 100%;
  border: 1px solid #ccc;
  tr th {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }
}

#party-rarity-form {
  div.radio {
    p {
      float: left;
      margin-right: 10px;
    }
  }
}

div.unit-card.picker form {
  padding: 0 10px;
}

div.unit-placeholder > div.unit-card {
  width: 98%;
}

div.unit-card {
  width: 250px;
  float: left;
  text-align: center;
  background-color: #eee;
  border-radius: 5px;
  padding-bottom: 13px;
  margin: 5px;
  h3 {
    padding: 6px 0 9px 0;
    margin: 0;
    background-color: darken(#eee, 10%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  div.sprite {
    min-height: 100px;
  }
  table {
    width: 90%;
    margin: 0 auto;
    &, th, td {
      border: 1px solid #ccc;
      padding: 2px;
      text-align: center;
    }
    border-radius: 4px;
    th {
      font-size: 12px !important;
      background-color: darken(#eee, 5%);
    }
  }
}

@media screen and (max-width: 767px) {
  div.unit-card {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  div.unit-card {
    width: 350px;
  }
}

span.badge.light {
  color: #333;
  background-color: lighten(#777, 30%);
  &.pad {
    padding: 7px 11px;
  }
}

div.unit-detail {
  div.sprite {
    float: left;
    margin-right: 15px;
  }
  div.details {
    width: 70%;
    float: left;
  }
}

/** Tabs on the build party page **/
ul.unit-nav {
  margin-bottom: 5px;
}